.registration-container {
    /* border: 2px solid red; */
    /* padding: 18%; */
    width: 80%;
    height: auto;
    margin: 100px auto;
    text-align: left;
    background-color: #efefef;
    padding: 50px 30px;
    border-radius: 30px;
}

body {
    text-align: center;
    /* width: 50%; */
}